compile_commands.json
.cache
README
TODO

TreeGraph.svg
TreeGraph.dot
TreeGraph.html
OldData.txt
NewData.txt

Example_how_to_startt

Tree
Differenciator

Differenc/diff_Latex_src/*aux
Differenc/diff_Latex_src/*log
Differenc/diff_Latex_src/*tex

.vscode
